<main>
    <div id="banner-principal">
        <div class="row" id="container-foto-nome-bio">
            <div class="col-sm-3" id="container-foto-artista">
                <img src="/images/artista3.png" id="foto-artista">
            </div>
            <div class="col-sm-2">
                
            </div>
            <div class="col-sm-5" id="nome-bio-botao">
                <h1 id="nome-artista">Artista Genérico</h1>
                <p id="bio-artista">Só mais um artista frustrado nesse mundo decadente</p>
                <a href="/"><p id="botao-ver-portfolio">Ver portfólio</p></a>
            </div>
        </div>
        <!--
        <div id="container-foto-artista">
            <img src="imagens/artista3.png" id="foto-artista">
        </div>

        <div id="nome-artista">
            <h1>Artista Genérico</h1>
        </div>
        
        <div id="bio-artista">
            <p>Só mais um artista frustrado nesse mundo decadente</p>
        </div>
        -->

        
    </div>
    
    <div id="container-principal">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. 
            Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
            ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. 
            Nam mattis, felis ut adipiscing
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. 
            Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
            ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. 
            Nam mattis, felis ut adipiscing
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. 
            Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
            ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. 
            Nam mattis, felis ut adipiscing
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. 
            Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
            ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. 
            Nam mattis, felis ut adipiscing
        </p>
        
    </div>
    
</main>