<main>
    <div id="banner-principal">
        <div class="row" id="container-foto-nome-bio">
            <div class="col-sm-3" id="container-foto-artista">
                <img src="/images/eu.jpg" id="foto-artista">
            </div>
            <div class="col-sm-2">
                
            </div>
            <div class="col-sm-5" id="nome-bio-botao">
                <h1 id="nome-artista">Pedro Heck</h1>
                <p id="bio-artista">
                    Um estudante de TI que a cada X meses arranja tempo e disposição para fazer uns desenhos. 
                    Meu foco é pintura digital de seres vivos, mas não recuso oportunidades para sair
                    da zona de conforto. Atualmente tenho 21 anos e sinceramente por mim poderia parar
                    por aqui.
                </p>
                <nav class="redes-sociais">
                    <ul>
                        <li><a href="https://www.instagram.com/pe_heck/"><img src="/images/instagram4.png" class="icone-rede-social"></a></li>
                        <!-- <li style="color: white; font-weight: 200; font-size: 12px; margin: auto;">@pe_heck</li> -->
                        <li><a href="https://www.facebook.com/pedro.heck.39"><img src="/images/facebook4.png" class="icone-rede-social"></a></li>
                        <!-- <li style="color: white; font-weight: 200; font-size: 12px; margin: auto;">Pedro Heck</li> -->
                        <li><a href="https://www.pinterest.com.au/pedro_heck_"><img src="/images/pinterest4.png" class="icone-rede-social"></a></li>
                        <li><a href="https://www.linkedin.com/in/pedro-heck-145956a3/"><img src="/images/linkedin4.png" class="icone-rede-social"></a></li>
                        <li><a href="https://github.com/pedroheck"><img src="/images/github4.png" class="icone-rede-social"></a></li>
                    </ul>
                </nav>
                <!-- <a href="/"><p id="botao-ver-portfolio">Ver portfólio</p></a> -->
            </div>
        </div>
    </div>
    
    <div id="container-principal">
        <h2 class="sobre">Sobre o <span style="font-weight: 600;">Heck</span><span class="aquamarino">folio</span></h2>
        <hr>
        <img src="/images/logo.png" style="width: 40px; display: block; margin-left: auto; margin-right: auto">
        
        <div class="container-sobre">
            <img class="container-sobre-imagem1" src="/images/folha.png">
            <div class="container-sobre-texto">
                <p>
                    Este é um portfólio pessoal. Como artista, é importante estabelecer um local onde
                    suas obras pessoais (sejam elas fotografias, desenhos à mão, pinturas digitais, esculturas,
                    logotipos, crochês, animações etc) possam estar centralizadas.
                </p>
                <p>
                    Assim, o <b>Heckfolio</b> – talvez não o mais criativo dos nomes – desabrochou para cumprir 
                    a função de se tornar o site no qual eu possa colocar minhas mais recentes pinturas. É verdade que existem
                    plataformas especializadas para isso, mas criar um site partindo do zero (e em equipe) 
                    traz a satisfação que Wix nenhum é capaz de trazer.
                </p>
                <p>
                    Também é verdade que o visual é simples. Trata-se de uma <i>escolha artística</i>. O foco 
                    aqui é um, e um apenas: as pinturas. Assim, o portfólio em si já é a página inicial, a 
                    primeira que você viu antes de vir ler esta breve explicação. As poucas abas e o aspecto
                    relativamente minimalista e moderno eram o que eu buscava. Pense neste site primariamente
                    como um álbum de ilustrações, pois é exatamente isso que ele é. 
                </p>
            </div>
    
            <div>
                <h4 class="sobre">Quer comprar uma ilustração?</h4>
            <p>
                A aba <b>compre</b> irá levá-lo(a) para dois diferentes locais, a depender de seu apetite.
                Em <b>comprar produtos</b>, o site no qual você pousará trará variados produtos cujas
                estampas são alguns de meus desenhos. Quer adicionar uma graça à sua parede? Os quadros e 
                pôsteres lhe servirão bem. Seu torso carece de um belo vestuário estampado? Fique à vontade
                para checar as camisetas e agasalhos. Abomina a sociedade hodierna por seus incontáveis
                dispositivos digitais que puseram fim à era da celulose e busca sempre se agarrar ao passado 
                antes que este nos escape da memória e desapareça como lágrimas na chuva? Não tem problema – 
                agendas e calendários, sketchbooks e <i>bullet journals</i> dos mais acolhedores papéis estão
                nas prateleiras somente esperando um ser diferenciado como você comprá-los.    
            </p>
            <img class="container-sobre-imagem2" src="/images/quadro_borda_branca.png">
            <div class="container-sobre-texto">
                <p>
                    Já em <b>encomendar desenho</b>, você será levado à minha página de freelancer: é lá
                    onde eu aceito pedidos de desenhos comissionados. Afinal, nem sempre o que queremos
                    já foi feito, não é? Então, se a sua vontade é a de ter um quadro de seu cachorro,
                    uma pintura de um retrato seu ou o que quer que ache que seria viável de eu pintar
                    no meu estilo, pode pedir lá.
                </p>
                <p>
                    Por fim, não hesite em contatar-me. A aba <b>contato</b> existe justamente para isso.
                    No entanto, tanto meu número quanto meu e-mail estarão disponíveis logo aqui embaixo, 
                    no rodapé, para caso haja problemas na comunicação pelo site. Minhas redes sociais também
                    podem ser acessadas por esta página, ali em cima. 
                </p>
                <p>
                    Espero que goste de minhas ilustrações. Todas são feitas com carinho e requerem muitas 
                    horas de dedicação e de playlists repetidas. O apoio – financeiro ou não – 
                    é de extrema importância para pequenos artistas, então considere sempre colaborar para
                    seu crescimento, não importanto o quão próximos eles sejam de você. E, finalmente, sinta-se 
                    livre para me perguntar o que lhe vier à mente. Estarei sempre disposto a assisti-lo(a).
                    <span style="white-space: pre-wrap;">     :)</span>
                </p>
        </div>
    </div>
        
    
</main>