<main>
    <div id="banner-principal">
        <div class="row" id="container-foto-nome-bio">
            <div class="col-sm-3" id="container-foto-artista">
                <img src="/images/eu.jpg" id="foto-artista">
            </div>
            <div class="col-sm-2">
                
            </div>
            <div class="col-sm-5" id="nome-bio-botao">
                <h1 id="nome-artista">Pedro Heck</h1>
                <p id="bio-artista">Bio do artista:  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. 
                    Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
                    ac turpis egestas. </p>
                <nav class="redes-sociais">
                    <ul>
                        <li><a href="https://www.instagram.com/pe_heck/"><img src="/images/instagram5.svg" class="icone-rede-social"></a></li>
                        <!-- <li style="color: white; font-weight: 200; font-size: 12px; margin: auto;">@pe_heck</li> -->
                        <li><a href="https://www.facebook.com/pedro.heck.39"><img src="/images/facebook5.svg" class="icone-rede-social"></a></li>
                        <!-- <li style="color: white; font-weight: 200; font-size: 12px; margin: auto;">Pedro Heck</li> -->
                        <li><a href="https://www.pinterest.com.au/pedro_heck_"><img src="/images/pinterest5.svg" class="icone-rede-social"></a></li>
                        <li><a href="https://www.linkedin.com/in/pedro-heck-145956a3/"><img src="/images/linkedin5.svg" class="icone-rede-social"></a></li>
                        <li><a href="https://github.com/pedroheck"><img src="/images/github5.png" class="icone-rede-social"></a></li>
                    </ul>
                </nav>
                <!-- <a href="/"><p id="botao-ver-portfolio">Ver portfólio</p></a> -->
            </div>
        </div>
        <!--
        <div id="container-foto-artista">
            <img src="imagens/artista3.png" id="foto-artista">
        </div>

        <div id="nome-artista">
            <h1>Artista Genérico</h1>
        </div>
        
        <div id="bio-artista">
            <p>Só mais um artista frustrado nesse mundo decadente</p>
        </div>
        -->

        
    </div>
    
    <div id="container-principal">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. 
            Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
            ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. 
            Nam mattis, felis ut adipiscing
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. 
            Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
            ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. 
            Nam mattis, felis ut adipiscing
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. 
            Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
            ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. 
            Nam mattis, felis ut adipiscing
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. 
            Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
            ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. 
            Nam mattis, felis ut adipiscing
        </p>
        
    </div>
    
</main>