<main>
    <div class="row">
        <div class="col" id="container-loja">
            <img src="/images/quadro.png" class="imagem-loja">
            <a href="https://www.colab55.com/@pedroheck">
                <div class="overlay-loja">
                    <div class="texto">Comprar produtos</div>
                </div>
            </a>
            
        </div>
        <div class="col" id="container-comissao">
            <img src="/images/fiverr.png" class="imagem-comissao">
            <a href="https://www.fiverr.com/pedro_heck/make-you-high-quality-digital-drawings?context_referrer=search_gigs&source=top-bar&ref_ctx_id=44074af2-f576-43b4-8599-6593aeb456ee&pckg_id=1&pos=1&context_type=auto&funnel=d814a4ed-2452-4ffd-9e04-33db7a432551&seller_online=true">
                <div class="overlay-comissao">
                    <div class="texto">Encomendar desenho</div>
                </div>
            </a>
        </div>
    </div>
</main>