<footer>
    <div class="row" style="height: 100%;">
        <div class="col-sm-12" style="color: white; height: 100%;">
            <ul style="margin: 2% 10% 0 10%;">
                <li style="display: inline-block; text-decoration: none; margin-left: 5%; color: rgb(133, 133, 133); font-size: 12px;">pedroscheck@hotmail.com</li>
                <li style="display: inline-block; text-decoration: none; margin-left: 5%; color: rgb(133, 133, 133); font-size: 12px;">(16) 99787-1999</li>
                <li style="display: inline-block; text-decoration: none; margin-left: 20%;"><a href="https://www.termsfeed.com/live/e9765da6-c820-4f02-801a-31c7ed764b74" style="color: rgb(226, 226, 226); font-size: 12px;">Política de Privacidade</a></li>
                <li style="display: inline-block; text-decoration: none; margin-left: 5%; color: rgb(226, 226, 226); font-size: 12px;">&#169; All Rights Reserved 2020</li>
            </ul>
            
        </div>
    </div>
</footer>
