<main>
    <div class="row imagens">
        <div class="column coluna-imagens">
            <img src="/images/desenho_astronauta_2.jpg" id="astronauta" class="desenho" alt="Pintura Astronauta Amarelo">
            <!-- The Modal -->
            <div id="myModal" class="modal">
                <!-- The Close Button -->
                <span class="close">&times;</span>
                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="modal-astronauta">
                <!-- Modal Caption (Image Text) -->
                <div id="caption"></div>
            </div>
            <img src="/images/folhas.jpg">
            <img src="/images/mar-satelite.jpg">
            <img src="/images/astronauta2.jpg">
        </div>
        <div class="column coluna-imagens">
            <img src="/images/terra.jpg">
            <img src="/images/westworld.png">
            <img src="/images/astronauta.jpg">
            <img src="/images/westworld_2.jpg">
        </div>
    </div>
</main>
<script src="/js/modal.js"></script>