<header>
    <div class="row">
        <!-- Logo -->
        <div class="col-sm-2">
            <a id="logo" href="/">
                <img src="/images/logo_branca.png" alt="Logo">
                Art<span>folio</span>
            </a>
        </div>

        <div class="col-sm-4"></div>

        <!-- Menu -->
        <div class="col-sm-6">
            <nav id="menu">
                <ul>
                    <li><a href="/" style="color: rgb(70, 252, 212);">portfólio</a></li>
                    <li><a href="/artista">artista</a></li>
                    <li><a href="/compre">compre</a></li>
                    <li><a href="/contato">contato</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>