* {
	margin:0;
  padding:0;
}

body{
    font-family: 'Montserrat';
    height: 100%;
    overflow-x: hidden; /* escondendo a scrollbar horizontal */  
    background: #f1efec;
}

 /* cabeçalho */
header {
    /* background: linear-gradient(to bottom, rgba(48,242,197,1) 0%,rgba(21,239,181,1) 0%,rgba(127,187,239,1) 100%); */
    padding: 20px 30px;
    z-index: 100;
    background: #242222;
    width: 100%;
    margin: 0;
    max-height: 90px;
}

.linha{
    padding-right: 0;
}

 /* logo */
 #logo{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    width: 200px
}

 .aquamarino{
    color: rgb(60, 218, 183);
}
 #logo img{
    width: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

/* #logo img:hover{
  width: 55px;
  transition: 0.3s;
} */

#logo-texto{
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
}

 /* menu */

 #container-menu{
   width: 80%;
 }

 #linha-menu{
    display: inline-block;
    position: relative;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

 #menu ul li{
    display: inline-block;
}

 #menu ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 4px;
    transition: 0.3s ease all;
}

 #menu ul li a:hover{
    margin-bottom: 2px;
    color: rgb(70, 252, 212);
    font-size: 16px;
    padding: 18px;
}



 /* main */


.imagens {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1px;
  }

  .imagens:hover img{
      size: 50%;
  }
  
  /* Create two equal columns that sits next to each other */
  .coluna-imagens {
    flex: 50%;
    padding: 0 2px;
  }
  
  .column img {
    margin-top: 4px;
    vertical-align: middle;
    width: 100%;
  }

  /*.desenho{
    cursor: pointer;
  }*/

  /* .desenho:hover{
      opacity: 0.85;
  } */

  /* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}



  /* *, *:before, *:after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
  } */
  
  

  /* @media screen and (max-width: 640px){
    .container-desenho{
      display: block;
      width: 100%;
    }
  }
  
  @media screen and (min-width: 900px){
    .container-desenho{
      width: 33.33333%;
    }
  } */
  
  .container-desenho .title{
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .content {
    position: relative;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 4px;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 0.7;
  }
  
  .desenho{
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }
  
  .fadeIn-left{
    left: 20%;
  }

  .fadeIn-right{
    left: 80%;
  }
  






 /* footer */
footer{
    background: #242222;
    height: 75px;
}

footer #redes_sociais{
    display: table-cell;
}

footer #redes_sociais ul{
    text-align: right;
    
}

footer #redes_sociais ul li{
    display: inline-block;

}

footer #redes_sociais ul li a img{
    display: table-cell;
    vertical-align: middle;
    width: 40px;
}

/*--------------------------------------------- Artista ----------------------------------------------*/
#banner-principal{
    height: 400px;
    width: 100%;
    background-image: url('/images/folhas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: table;
}

#container-foto-nome-bio{
    height: 100%;
    width: 100%;
}

#container-foto-artista{
    top: 18%;
    margin-left: 70px;
    height: 300px;
    width: 300px;
}

#foto-artista{
    width: 250px;
    height: 250px;
    object-fit:cover;
    border-radius: 50%;
}

#nome-artista{
    color: white;
    margin-top: 80px;
    font-size: 50px;
}

#bio-artista{
    display: inline-block;
    color: white;
    font-weight: 200;
}

.redes-sociais ul{
  display: inline-block;
  border: 1px solid white;
  border-radius: 30px;
  background: rgb(255,255,255, 0.1);
  backdrop-filter: blur(5px);
}

.redes-sociais li{
  display: inline-block;
  margin: 0 10px;
}

.icone-rede-social{
  width: 35px;
  margin: 8px;
  opacity: 0.86;
}

/* .icone-rede-social:hover{
  width: 38px;
  margin: 5px 7px;
  transition: 0.3s;
} */

#nome-bio-botao a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#nome-bio-botao p{
    display: inline-block;
}

#botao-ver-portfolio{
    background: rgb(70, 252, 212);
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    margin-left: 20%;
}

#container-principal{
    padding: 30px 50px 0;
    margin: 0 auto;
}

.sobre{
  text-align: center;
  font-weight: 300;
}

.container-sobre{
  padding: 20px 0 30px 20px;
}

.container-sobre-imagem1{
  height: 400px;
  margin-left: 20px;
  float: right;
  border-radius: 0 50px 0 0;
  /* box-shadow: 0 4px 8px 0 rgba(78, 78, 78, 0.2), 0 6px 20px 0 rgba(80, 80, 80, 0.19); */
}

.container-sobre-imagem2{
  width: 400px;
  min-width: 200px;
  margin-right: 20px;
  float: left;
  border-radius: 0 0 0 80px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.container-sobre-texto{
  display: inline;
}

/*------------------------------------------ Compre ------------------------------------------------------------*/

#container-loja{
    position: relative;
    height: 100%;
    width: 50%;
    padding: 0;
}

#container-comissao{
    position: relative;
    height: 100%;
    width: 50%;
    padding: 0;
}

.imagem-loja{
    display: block;
    width: 100%;
    height: auto;
    position: center top;
    size: cover;
}

.imagem-comissao{
    display: block;
    height: 100%;
    height: auto;
    position: center top;
    size: cover;
}

.overlay-loja {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    opacity: 0.5;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }

  .overlay-comissao {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #ffffff;
    opacity: 0.5;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }

  #container-loja:hover .overlay-loja {
    width: 100%;
    left: 0;
  }

  #container-comissao:hover .overlay-comissao {
    width: 100%;
    left: 0;
  }

  #container-loja:hover .imagem-loja{
    filter: blur(3px);
  }

  #container-comissao:hover .imagem-comissao{
    filter: blur(3px);
  }

  .texto {
    color: black;
    font-weight: 1000;
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
/*------------------------------------------- Contato ------------------------------------------------------*/

.container-contato{
  margin-left: 50px;
}

.imagem-contato{
  height: 400px;
  float: right;
  margin-right: 7%;
}

.container-texto-contato{
  display: inline;
}

form{
    margin-top: 50px;
}

.input{
    display: block;
    margin: 0 0 30px 0;
    width: 50%;
    padding: 10px;
    border: none;
}

#botao-contato{
  border: none;
  color: rgb(240, 240, 240);
  background: #242222;
  padding: 5px;
  margin-bottom: 3%;
}

#botao-contato:hover{
  background: rgb(56, 199, 168);
}



/*------------------------------------ Upload -----------------------------------------------------*/

.container-upload{
  margin: 0 35% 50px 35%;
  display: inline-block;
}

.imagem-upload{
  height: 100px;
  float: right;
  margin-right: 7%;
  margin-top: 200px;
}

.container-texto-upload{
  display: inline;
}

.campoUpload{
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  text-align: left;
  margin-bottom: 20px;
}

#botao-upload{
  border: none;
  background: #242222;
  color: rgb(231, 228, 228);
  padding: 5px;
  float: right;
  transform: translate(0, -10px);
}

#botao-upload:hover{
  background: rgb(60, 218, 183);
  color: black;
}

/* #container-form-upload button.submit{
  margin-left: 6em;
} */


/*------------------------------------------------------------------------------------------------ */
/*                                    Responsividade                                               */
/* ----------------------------------------------------------------------------------------------- */


/* ------------------------------------ Cabeçalho ------------------------------------------------ */
@media screen and (max-width: 1045px) {
  #container-menu{
    width: 70%;
  }
}










